@model MyGuessingGame.Models.GuessingGameModel 

@{
    ViewBag.Title = "Guessing Game";
}

<h2>@ViewBag.Title</h2>

@if (!(ViewBag.Win ?? false))
{


    <div class="form-horizontal" >
        @Html.ValidationSummary(
       false,                           // bool? 
       "",                              // string
       new { @class = "text-danger" }) <!--TODO ask about this <  -->

        <div class="form-group">
            @Html.LabelFor(
           m => m.PlayerName,
           htmlAttributes: new { @Class = "control-lable col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(
               m => m.PlayerName,
               new {  htmlAttributes = new { @class = "form-control"}})
                @Html.ValidationMessageFor(
               m => m.PlayerName,
               "",
               new {  @class = "text-dander"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(
           m => m.Guess,            //Changed to Guess
           htmlAttributes: new { @Class = "control-lable col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(
               m => m.Guess,            //Changed to Guess  the other property
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(
               m => m.PlayerName,
               "",
               new { @class = "text-dander" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guess" class="btn btn-default"
            </div>
        </div>

    </div>
}
else
{
    <h2>Correct. @Model.PlayerName, you've Won @Model.Guess  was right.</h2>
}

<div>
    @Html.ActionLink("New Game", "Index")
</div>